<!--#include virtual="header.shtml" -->
<!--#include virtual="/global/getCss.inc" -->

<CENTER><H3><FONT COLOR="#AOAO99">
Detecting Memory Leaks in C
</FONT></H3></CENTER><HR>

<!-- Author and contact details -->

This article was contributed by 
<A HREF="mailto:tech@cup.btinternet.co.uk">Cheah Ui Poh (CUP)</A>.

<!-- For which environment is this code specific??? -->
<p><u>Environment:</u> Any console based C code.

<p>
<!-- The 'p' starts a paragraph of normal text -->

<H3>Introduction</H3>
<P>CMemLeak is a small tool for detecting memory leaks in C programs. It 
does not replace and is not as good as the commercially available tools. 
However, it is free and can be used in any environment.</P>
<P>CMemLeak will not detect</P>
<UL>
  <LI>Array bounds Reads </LI>
  <LI>Free Memory Reads </LI>
  <LI>Stack Violations </LI>
  <LI>Stack corruption </LI></UL>
<P>CMemLeak only traces the following calls: </P>
<UL>
  <LI>malloc </LI>
  <LI>free </LI>
  <LI>realloc </LI>
  <LI>calloc </LI>
  <LI>strdup </LI></UL>
<P>It does this by redefining these routines. An example of usage can be seen in 
the test program LeakTest.c. If the program terminates normally, a report will 
be printed in the file CMemLeak.txt. It does this using atexit. This means that 
if the program exits using _exit, the report will have to be forced by 
explicitly calling XWBReportFinal. </P>
<H3>Usage </H3>
<OL>
  <LI>Just include CMemLeak.h in all your source files and CMemLeak.c in your 
  code. If _DEBUG is defined, the memory leak code will be activated. </LI>
  <LI>An alternative - #include CMemLeak in malloc.h. Then there is no need to 
  include it in all the files and it will be automatically included in the files 
  that use malloc. </LI></OL>
<H3>Warning </H3>
<P>The program may run a lot slower if there are lots of allocations and 
deallocations.</P>
<H3>Tracking Heap Corruption </H3>
<P>Call XWBNoFree() at the start of the program. Then call XWBReport at key 
points. If the program crashes because the heap is getting corrupted, call 
XWBNoFree() followed by XWBPreallocate(500) where 500 is the number of 
allocations you expect before the crash. If it is insufficient, CMemLeak will 
automatically grow the allocation buffer at the risk of itself getting 
corrupted. </P>
<H3>Customization</H3>
<P>CMemLeak works on certain patterns being set in memory.  No single pattern
can be unique: every so often, the data will be the same as the pattern chosen.</P>
<UL>
<LI>Guards for checking illegal memory writes.  These are put at the end of the memory
block.  If the program writes outside its allocated memory, the guard will not contain
this value.
<PRE>
static const char xwbProtect[] = "DeAd";
</PRE>
</LI>
<LI>Uninitialized memory.  This value is used just after a memory block has been allocated.
Pick a value that will cause the most problems.  VC++ uses 0xCC.
<PRE>
static const unsigned char xwbUninit = 0x55;
</PRE>
</LI>
<LI>Clean memory.  This value is used just after a memory block has been deallocated.
Pick a value which will cause the most problems.
<PRE>
static const unsigned char xwbFreed = 0xAA;
</PRE>
</LI>
<LI>Report file.
<PRE>
static const char xwbReportFilename[] = "CMemLeak.txt";
</PRE>
</LI>
</UL>
<H3>Understanding the leak report</H3>
<P>
The leak report uses a 3 letter abbreviation to indicate the type of leak.
</P>
<UL>
<LI>FNH - Free Non Heap Memory: caused by freeing memory that has already been freed,
freeing memory that should not be freed or freeing memory that has not been allocated
with malloc etc</LI>
<LI>FMW - Free Memory Write: writing to memory after it has been freed.</LI>
<LI>IMW - Illegal Memory Write: writing outside an allocated block.  Basically, the
guards have been trampled.</LI>
<LI>MLK - Memory Leak: a straight memory leak</LI>
</UL>
<H3>Sample leak report</H3>
<P>In the report below, as well as a memory leak, the heap is being corrupted on line 45.
The second column shows the address of the allocated memory, or, if it was freed/realloced,
the identifier</P><PRE>
DummyTest: after allocations
MLK: 00431D50 40 bytes allocated D:\algo\memleak\leaktest.c: 33
MLK: 00431C50 40 bytes allocated D:\algo\memleak\leaktest.c: 34
MLK: 00431BA0 40 bytes allocated D:\algo\memleak\leaktest.c: 35
Total allocations    : 3
Max memory allocation: 120 (0K)
Total leak           : 120

FNH: ok deallocated D:\algo\memleak\leaktest.c: 45
IMW: imw allocated D:\algo\memleak\leaktest.c: 34
   : imw deallocated D:\algo\memleak\leaktest.c: 48

Final Report
MLK: 00431BA0 40 bytes allocated D:\algo\memleak\leaktest.c: 35
MLK: 00431640 32 bytes allocated D:\algo\memleak\leaktest.c: 72
MLK: 00431AF0 40 bytes allocated D:\algo\memleak\leaktest.c: 94
...
Total allocations    : 113
Max memory allocation: 812 (0K)
Total leak           : 760
</PRE>
<!-- create more blocks of article text as needed separated -->
<!-- with the <p> HTML tag -->

<h3>Downloads</h3>
<!-- demo and source files -->
<A HREF="CMemLeakDemo.zip">
Download demo project - 15 Kb</A><BR>

<A HREF=  "CMemLeakSrc.zip">
Download source - 7 Kb</A><BR>

<h3>History</h3>
Date Posted: 02/01/03<BR>
<!-- Only use the following if the article is updated -->
<!-- Date Last Updated: [today's date in the format month day, year] --><BR>

<!--#include virtual= "footer.shtml"  -->

